.topbar{
	background: linear-gradient(-57.5deg,  #8c0293,#DD6B20, #3b96dc, #002b6f);
    min-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 150% 150%;
	animation: gradient 8s ease infinite;
}

@media screen and  (max-width:768px) {
    .topbar{
        padding:0.8rem 2rem !important;
        font-size: .8rem !important;
        min-height: 2rem;
        background: linear-gradient(-57.5deg,  #8c0293,#DD6B20, #3b96dc, #002b6f);
        background-size: 150% 150%;
	animation: gradient 8s ease infinite;
    }   
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



  #neonShadow{

    transition:0.3s;
    animation: glow 7s infinite ;
    transition:0.5s;
  }
 
  
  #neonShadow:hover{
    border-radius:30px;
    transition: 0.5s;
  }
  
  @keyframes glow{
    0%{
        box-shadow: 5px 5px 20px rgb(255, 0, 0),-5px -5px 20px rgb(255, 2, 2);}
    
    20%{
        box-shadow: 5px 5px 20px rgb(222, 229, 14),-5px -5px 20px rgb(216, 223, 17)
    }
    40%{
    box-shadow: 5px 5px 20px rgb(244, 122, 9),-5px -5px 20px rgb(230, 120, 24)
    }
    60%{
        box-shadow: 5px 5px 20px rgb(9, 244, 29),-5px -5px 20px rgb(24, 230, 24)
        }
    80%{
    box-shadow: 5px 5px 20px rgb(240, 25, 157),-5px -5px 20px rgb(201, 2, 191)
    }
    100%{
        box-shadow: 5px 5px 20px rgb(255, 0, 0),-5px -5px 20px rgb(255, 2, 2);}
  }
  
  